# Données et Poids
data/
checkpoints/
results/

# Fichiers de développement et documents (Exclus du Git)
*.ipynb
*.pdf

# Python et environnements
__pycache__/
*.py[cod]
*$py.class
dl_env/
env/
venv/

# Fichiers système
.DS_Store
